:root {
    --color-primary : #B1CC74;
    --color-secondary : #E8FCC2;  
    --color-triary : #D0F4EA;
    --color-tertiary : #a2b8c1;
    --color-accent : #545F66;
}

* {
    padding 0;
    margin 0;
}
body {
    display: grid;
    grid-template-areas: "t t t"
                         "b b b"
                         "g g g";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 1fr;
    place-items: center;
    justify-content: center;
    color : rgb(85,86,75);
    background-color: var(--color-secondary);
}
h1 {
    grid-area: t;
    color : rgb(65,65,65);
    text-align: center;
    width: 105%;
    height: 10vh;
    padding-top:5vh;
}
.mainHeader {
    background-color: var(--color-primary);
}
.addBookBtn {
    grid-area: b;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--color-triary);
}
.addBookModal {
    display: none;
    position: fixed;
    height: 300px;
    width: 200px;
    margin-left: -100px;
    margin-top: -150px;
    left: 50%;
    top: 50%;
    
    z-index : 1;
    padding: 0 1rem 4rem 1rem;
    box-shadow: 5px 5px 15px 5px #000000;
}
.addBookModal-header {
    color: whitesmoke;
}

.active {
    display: block;
    place-items: center;
    border: 3px solid black;
    color: whitesmoke;
    background-color: var(--color-accent);
}
.bookGrid {
    grid-area: g;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bookCard {
    min-width: 300px;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 15px;
    background-color: var(--color-triary);
}
.removeBtn {
    background-color: var(--color-tertiary);
}