* {
    padding 0;
    margin 0;
}
body {
    display: grid;
    grid-template-areas: "t t t"
                         "b b b"
                         "g g g";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 1fr;
    place-items: center;
    justify-content: center;
    color : rgb(85,86,75);
}
h1 {
    grid-area: t;
    color : rgb(65,65,65);
    text-align: center;
}
.addBookBtn {
    grid-area: b;
    width: 350px;
    height: 50px;
}
.addBookModal {
    display: none;
    position: fixed;
    height: 300px;
    width: 200px;
    margin-left: -100px;
    margin-top: -150px;
    left: 50%;
    top: 50%;

    z-index : 1;
    padding: 1rem 1rem 1rem 1rem;
}

.active {
    display: block;
    place-items: center;
    border: 3px solid black;
    background-color: white;
}
.bookGrid {
    grid-area: g;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bookCard {
    min-width: 300px;
    margin: 1rem;
    border: 2px solid grey;
}
